<div class="col-md-6 recipe" id="title" dir="rtl">
    <span class="name-recipe">דפי אורז ממולאים בסלק וגבינת פטה</span>
    <br />
    <lable class="name-creator" id="subtitle">של אניה רויטפלד, דיאטנית במחוז השרון</lable>
    <br /><br />
    <p id="content" class="details-recipe">
        <span>  מצרכים ל - 4 מנות</span>
        <br />
        סלקים גדולים מבושלים וחתוכים לקוביות או מגורדים
        <br />
        150 גרם גבינת פטה פיראוס 5% חתוכה לקוביות
        <br />
        40 גרם אגוזי מלך קצוצים / צנוברים
        <br />
        8 דפי אורז
        <br /><br />
        <span> אופן ההכנה</span>
        <br />
        מערבבים את המלית )סלק, פטה ואגוזים(.
        <br />
        •טובלים את דפי האורז במים ומייבשים על מגבת מטבח.
        <br />
        •מניחים במרכז כל דף 1-2 כפיות מהמלית.
        <br />
        •מגלגלים את הדפים (כמו בלינצ'ס).
        <br />
        •מגישים עם רוטב לבחירה – סויה, טריאקי, צ'ילי...
        <br /><br />
        <span>  ערכים תזונתיים למנה</span>
        <br />
        55 קלוריות | 10 גרם פחמימות | 9 גרם שומן
        <br />
        680 גרם נתרן | 1 גרם סיבים
        <br />
        <lable class="beteavon" dir="ltr">!בתאבון</lable>
    </p>
</div>

<div class="col-md-6 img-recipe" id="img">
    <img src="~/Content/Images/pic.jpg" />
    <div class="bottom-right">התמונה להמחשה</div>
</div>
