<div>
    <img class="header-img" src="~/Content/Images/header.jpg" />
</div>
<div class="row">
    <div class="container content">
        <partial name="~/Views/Recipes/_receipt.cshtml" />
        <partial name="~/Views/Recipes/_enrolment.cshtml" />
    </div>
</div>

<footer class="nav-footer footer-style">
    <img class="logo" src="~/Content/Images/logo.png" />
</footer>
<script src="~/email-form/email-form.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
