
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="container content">
        @RenderPage("~/Views/Recipes/_receipt.cshtml")

        @RenderPage("~/Views/Recipes/_enrolment.cshtml")

    </div>
</div>



